<h1>Welcome! Please log in</h1>
<form id="login" name="login" method="POST" action="/users/login">
    <div>
        <label for="name">Username: </label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="name">Password: </label>
        <input type="text" name="password" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>